/* Foundation v2.1.5 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
  background-color: #F0F0ED;
}

body p {
  font-size: 1.1em;
}

hr {
border: solid #DDD;
border-width: 1px 0 0;
clear: both;
margin: 12px 0 30px;
height: 0;
}

.h1-small {
	font-size:30px;
}

.dotted {
	border: dashed #DDD;
	border-width: 1px 0 0;
}

i {
	margin-right: 5px;
}

a {
	color: #cc7206;
}

a:hover {
	color: #cc7206;
}

li strong {
	margin-right: 8px;
}

.spacer20 {
	margin-left: 20px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.gaga {
	padding-top: 20px;
}

.center-text {
	text-align: center;
}

.page-bottom-border {
	margin-bottom: 200px;
} 

#header {
  height: 130px;
  background:#333333;
  color:#F0F0ED;
  padding-top:20px;
}

#header img {
	max-width: 100%;
	height: auto;
}

#footer {
  height: auto;
  background:#333333;
  color:#F0F0ED;  
  margin-top:40px;
}
#footer a {
  color: #ffd700;
  text-decoration: none;
  letter-spacing: 1px;
}
#footer a:hover {
  color: #ffd700;
  /*color: #f0f0ed;*/
  text-decoration: none;
  font-weight:bold;
  letter-spacing: 1px; 
}
#footer p {
  color: #F0F0ED;
}
#footer h4 {
  color: #F0F0ED;
}



#navigation-left li {
  float: left;
  margin: 0 5px;
font-size:1.4em; 
}

#navigation-left li a {
text-decoration:none;
color:#F0F0ED;
}
#navigation-left li a:hover {
text-decoration:underline;
color:#F0F0ED;  
}

#navigation-right {
 position: relative;
}


#navigation-right ul {
  position: absolute;
  right: 0;
}

#navigation-right li {
  float: left;
  margin: 0 5px;
  font-size:1.4em; 
  text-align: right;
}

#navigation-right li a {
text-decoration:none;
color:#F0F0ED;
}

#navigation-right li a:hover {
text-decoration:underline;
color:#F0F0ED;  
}

#mobile-nav {
  width: 95%;
}

/* Form Error Message */
.error small, small.error {
display: block;
padding: 6px 4px;
margin-top: -13px;
margin-bottom: 12px;
background: #c60f13;
color: #fff;
font-size: 12px;
font-weight: bold;
-moz-border-radius-bottomleft: 2px;
-webkit-border-bottom-left-radius: 2px;
border-bottom-left-radius: 2px;
-moz-border-radius-bottomright: 2px;
-webkit-border-bottom-right-radius: 2px;
border-bottom-right-radius: 2px;
}

.error input, input.error, .error textarea, textarea.error {
border-color: #c60f13;
background-color: rgba(198,15,19,0.1);
}
.valid input, input.valid, .valid textarea, textarea.valid {
border-color: #02BA52;
background-color: rgba(2,186,82,0.1);
}


/* foo table overwrites */
.footable > thead > tr > th, .footable > thead > tr > td {
background-color: transparent;
background-image: none;
border-top: none;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
}


/* -----------------------------------------
   Social Media Bar
----------------------------------------- */

.socialMedia {
  background: url("../img/pixel_grey.png") repeat-x scroll 0 50% transparent;
  height: 54px;
}

.socalMediaButton {
    background: none repeat scroll 0 0 #F0F0ED;
    margin: 16px auto 0;
    overflow: hidden;
    padding: 0 16px;
    width: 68px;
    list-style: none;
}

.socalMediaButton .float-left a {
    background-position: left top;
}

.socalMediaButton .float-left a:hover {
    background-position: left bottom;
}

.socalMediaButton .float-right a {
    background-position: right top;
}

.socalMediaButton .float-right a:hover {
    background-position: right bottom;
}

.socalMediaButton a {
    background: url("../img/twitter_facebook.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 26px;
    text-indent: -9999px;
    width: 27px;
}


/* -----------------------------------------
   side menu bar
----------------------------------------- */

.affix {
  top: 20px;
 
}

.nav-stacked li a {
  color: #333;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background-color: #cccccc;
 } 

.sidebar {
  width: 228px;
}


/* ------------------------------------------
Google maps area styling
--------------------------------------------*/
.maps-container {
  position: relative;
  padding-bottom: 56%;
  height: 0;
  overflow: hidden;
}


.maps-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* -----------------------------------------
   images on the images gallery page
----------------------------------------- */

div.gallery-wraper {
	float:left;  
    position:relative;
    margin: 10px 0px 10px 0px;
}

div.description{  
    position:absolute;  
    bottom:0px; 
    left:0px;  
    width:100%;  
    /* styling bellow */  
    background-color:black;  
    font-family: 'tahoma';  
    font-size:15px;  
    color:white;  
    opacity:0.6; /* transparency */  
    filter:alpha(opacity=60); /* IE transparency */  
}  
p.description_content{  
    padding:10px;  
    margin:0px;  
}  


/* -----------------------------------------
   table background override for odd lines
----------------------------------------- */

.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #cccccc;
}
/* -----------------------------------------
   media queries
----------------------------------------- */

@media screen and (min-width: 1200px) {
.sidebar {
  width: 258px;
}
}

@media screen and (max-width: 979px) {

  #navigation-left li {
    font-size:1.2em; 
  }

  #navigation-right li {
    font-size:1.2em; 
  }
  

}

@media (max-width: 979px) and (min-width: 768px) {

.sidebar {
  width: 166px;
}

}

   
@media screen and (max-width: 767px) {

  body {
    padding-right: 0px;
    padding-left: 0px;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;    
  }
  
  #header {
    height: 150px;
  }
  
  #header img {
	max-width: 100%;
	height: auto;
  }

  
}


